/*Reset*/

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
    padding: 1em 0;
}


/*HEADER*/

#main-header{
    height: 450px;
    color: #fff;
    text-align: center;
}

#main-header .bg-img{
    position: absolute;
    background: #333
        url("https://static.pexels.com/photos/668196/pexels-photo-668196.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: inherit;
    z-index: -1;
    opacity: 0.4;
}

#main-header h1{
    padding-top: 100px;
    font-family: 'Sofia', cursive;
    font-size: 2.5em;
}

#main-header p{
    margin-top: 0;
    font-size: 1em;
}

#main-nav{
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 392px;

}

#main-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: rgba(251,251,251, 0.8);
	color: #333;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

#main-nav li{
    padding: 2vh 3.5vw;
}

#main-nav a{
    display: block;
    width: 100%;
}

.menuIcons{
    width: 100%;
    height: 100%;
}

.menuSpan{
    display: none;
}

/*Section A*/

.content-wrap{
    padding: 0 1.5em;
}

#sec-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}


/*Section B*/

#sec-b{
    padding: 0 1em;
    margin: 0; 
}

#sec-b h2{
    font-family: 'Sofia', cursive;
    font-size: 2em;
    padding: 0.5em;
}

#sec-b .gallery{ 
    display: grid;
    grid-gap: 2em;
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Section C*/

#sec-c{
    min-height: 450px;
}

#sec-c .bg-booking{
    position: absolute;
    background: #333
        url("https://static.pexels.com/photos/785537/pexels-photo-785537.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;
}

#sec-c .contact{
    padding: 0;
    margin: 0; 
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.contact h2{
    padding: 2em;
}

/*Section D*/

#sec-d{
    background: #eaeaea;
    color: #333;
    padding: 2em 0;; 
}

#sec-d .social-networks{
    display: flex;
    justify-content: center;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);*/
}

.social-networks img{
    width: 64px;
    height: auto;
    opacity: 0.4;
    margin: 1em;
}

.social-networks img:hover{
    opacity: 1;
}

.newsletter{
    display: none;
    margin-top: 5px;
    border-top: 2px solid rgb(51,51,51, 0.9);
    padding-top: 20px;
    padding-bottom: 5px;
}

.destaque{
    font-weight: bold;
}

#sec-e{
    background: #eaeaea;
    color: #333;
    margin-top: 1em;
    padding-bottom: 2em; 
    display: flex;
    flex-direction: column;
}

#sec-e td{
    width: 50%;
    display: inline;
    font-size: 1.2em;
}

.prod{
    margin-right: 10px;
}

.prec{
    font-weight: 600;
}

/*FOOTER*/

#main-footer{
    padding: 2em 1em;
    background: #000;
    color: #fff;
    text-align: center;
}
#main-footer p{
    margin: 0; 
}

#main-footer a {
    color: #2690d4;
    text-decoration: none;
}


@media only screen and (min-width: 550px){ /*DESKTOP*/
    /*NAV*/
    #main-nav ul{
        justify-content: left;
    }

    #main-nav li{
        padding: 2vh 3.5vw;
        
    }
    
    #main-nav a{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 5px;
    }
    
    .menuIcons{
        width: auto;
        height: auto;
    }
    
    .menuSpan{
        display: inline;
        padding-top: 0.2em;
    }

    /*MAIN*/
    #sec-b .gallery{ 
        padding: 0 2em 2em;
        grid-template-columns: 1fr 1fr;
        
    }

    #sec-c .locale{
        padding: 0;
        margin: 0; 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .newsletter{
        display: inline-block;
    }

   
    
}